*,
::before,
::after {
  box-sizing: border-box;
}

:root {
  --ff-primary: 'Roboto', sans-serif;

  --clr-background: #f5f5f5;
  --clr-white: #ffffff;
  --clr-black: #090e01;
  --clr-light-green: #def8af;
  --clr-medium-green: #88cc11;
  --clr-dark-green: #456809;
  --clr-orange: #ed7d00;
  --clr-grey: #666666;
  --clr-grey-light: #d9d9d9;
  --clr-link: #004071;
  --clr-title-news: #333333;
  --clr-ad-text: #363636;

  --spacing: 0.25rem;
  --transition: all 0.2s linear;
  --dark-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.2);
}

/* Estilos Gerais */

html {
  font-size: 62, 5%;
}

body {
  font-family: var(--ff-primary);
  background: var(--clr-background);
}

a {
  text-decoration: none;
}

/* Navbar */
.header {
  display: flex;
  justify-content: center;
}

.navbar {
  position: fixed;
  background: var(--clr-background);
  width: 100%;
  padding: 1.8rem;
  box-shadow: var(--dark-shadow);
  margin: auto;
  max-width: 1366px;
  z-index: 3;
}

.navbar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-header__left {
  display: flex;
  align-items: center;
  width: 500px;
}

.navbar-header__toggle {
  display: flex;
  background: transparent;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-size: 2rem;
  cursor: pointer;
  align-items: center;
  transition: var(--transition);
  padding: 0.5rem;
  height: 40px;
  margin-right: 0.8rem;
}
.navbar-header__toggle:hover {
  transform: scale(1.2);
}

.navbar-header__search {
  display: none;
  background: transparent;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
  font-size: 2rem;
  cursor: pointer;
  align-items: center;
  transition: var(--transition);
  padding: 0.5rem;
  height: 40px;
  margin-right: 0.8rem;
}

.navbar-header__search:hover {
  transform: scale(1.2);
}

.navbar-header__toggle-text {
  padding: 0.3rem;
  font-weight: 700;
  font-size: 1rem;
  display: none;
}

.navbar-header__title {
  display: flex;
}

.navbar-header__theme {
  display: none;
  font-size: 26px;
  font-weight: 400;
  color: var(--clr-grey);
}

.navbar-header__logo {
  height: 25px;
  padding-right: 0.9rem;
}

.navbar-list {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}

.navbar-list--show-Links {
  height: 25rem;
}

.navbar-list__link {
  display: block;
  font-size: 1.6rem;
  font-weight: 900;
  padding: 1.6rem;
  text-transform: capitalize;
  color: var(--clr-black);
  transition: var(--transition);
}

.navbar-list__link:hover {
  background: var(--clr-medium-green);
  padding-left: 3.6rem;
}

.navbar-header__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 195px;
}

.navbar-header__right_whatsapp {
  display: none;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  width: 40px;
  transition: var(--transition);
  height: 40px;
  margin-right: 0.8rem;
}

.navbar-header__right_whatsapp:hover {
  transform: scale(1.2);
}

.navbar-header__right_whatsapp_img {
  padding-top: 2.9px;
}

.navbar-header__right_sign {
  height: 38px;
  width: 69px;
  background: var(--clr-orange);
  border-radius: 4px;
  transition: var(--transition);
  border: transparent;
  cursor: pointer;
  margin-right: 0.8rem;
  color: var(--clr-white);
  font-size: 14px;
  font-weight: 700;
}

.navbar-header__right_sign:hover {
  transform: scale(1.2);
}

.navbar-header__right_divisor {
  display: none;
  height: 38px;
  border: 1px solid #d9d9d9;
  margin-right: 0.8rem;
}

.navbar-header__right_profile {
  display: none;
  border: 1px solid #d9d9d9;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  transition: var(--transition);
  justify-content: center;
  align-items: center;
}

.navbar-header__right_profile:hover {
  transform: scale(1.2);
}

.navbar-header__right_whatsapp_img {
}

@media screen and (min-width: 700px) {
  .navbar-header__toggle-text {
    display: block;
  }

  .navbar-header__search {
    display: flex;
  }

  .navbar-header__right_whatsapp {
    display: block;
  }

  .navbar-header__right_profile {
    display: flex;
  }

  .navbar-header__right_divisor {
    display: block;
  }
}

/* Hero */
.hero {
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  margin-top: 100px;
}

.bread-crumb {
  margin-left: 10px;
}

@media screen and (max-width: 1366px) {
  .navbar {
    padding: 0.8rem;
  }

  .bread-crumb {
    margin-top: -30px;
    margin-left: 50px;
  }
}

@media screen and (max-width: 1300px) {
  .bread-crumb {
    margin-left: 120px;
  }
}

@media screen and (max-width: 1155px) {
  .bread-crumb {
    display: none;
  }

  .hero-content {
    margin-top: 50px;
  }
}

.main-content {
  width: 1366px;
  display: flex;
  justify-content: center;
}

.bread-crumb__link {
  font-size: 12px;
  font-weight: 500px;
  transition: var(--transition);
  color: var(--clr-link);
}

.sinal-maior::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-top: 2px solid black;
  border-right: 2px solid black;
  transform: rotate(45deg);
  margin-right: 3.5px;
  border-color: #c2d1d9;
}

.content {
  max-width: 1107px;
  margin-top: 40px;
}

.hero-texto-5 {
  font-size: 12px;
  font-weight: 700;
  color: var(--clr-link);
  margin-bottom: 10px;
}

.hero-texto-2 {
  font-size: 32px;
  font-weight: 700;
  color: var(--clr-title-news);
  font-family: 'Merriweather', serif;
  margin-bottom: 10px;
}

.hero-texto-7 {
  font-weight: 200;
  font-size: 16px;
  color: var(--clr-title-news);
  margin-bottom: 30px;
}

.hero-texto-ad {
  font-weight: 400;
  font-size: 12px;
  color: var(--clr-ad-text);
}

.hero-texto-ad-content {
  width: 970px;
}

.ad-content-1 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.ad-img-1 {
  width: 970px;
}

.first-news-img {
  width: 765px;
  height: 430px;
  radius: 5px;
}

.news-content {
  margin-top: 20px;
}

.news-content__header {
  display: flex;
  justify-content: space-between;
  max-width: 765px;
}

.colunist {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.colunist-img {
  margin-right: 10px;
  width: 80px;
}

.tag-colunist {
  width: 104px;
  height: 23px;
  background: var(--clr-link);
  color: var(--clr-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 700;
  border-radius: 3px;
  margin-bottom: 9px;
}

.clock {
  display: flex;
  align-items: center;
}

.clock span {
  margin-top: 5px;
  color: var(--clr-ad-text);
  font-size: 12px;
}

.share {
  display: flex;
  justify-content: center;
  align-items: center;
}

.share img {
  margin-left: 10px;
}

.google-btn {
  width: 155px;
  height: 30px;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
  border: transparent;
}

.google-btn img {
  margin-left: 5px;
}
